= form_for @synonym do |f|
  - if @synonym.errors.any?
    #error_explanation
      %h2= "#{pluralize(@synonym.errors.count, "error")} prohibited this synonym from being saved:"
      %ul
        - @synonym.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :tag_id
    = f.number_field :tag_id
  .field
    = f.label :created_at
    = f.datetime_select :created_at
  .field
    = f.label :updated_at
    = f.datetime_select :updated_at
  .actions
    = f.submit 'Save'
