%h1 Listing users

%table
  %tr
    %th First name
    %th Email
    %th Password
    %th Paypal email
    %th Gender
    %th Yob
    %th Country
    %th Zip
    %th Time zone
    %th Type
    %th Company
    %th City
    %th State
    %th Status
    %th Phone
    %th Photo file name
    %th Photo content type
    %th Photo file size
    %th Photo updated at
    %th Last name

  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.email
      %td= user.password
      %td= user.paypal_email
      %td= user.gender
      %td= user.yob
      %td= user.country
      %td= user.zip
      %td= user.time_zone
      %td= user.type
      %td= user.company
      %td= user.city
      %td= user.state
      %td= user.status
      %td= user.phone
      %td= user.photo_file_name
      %td= user.photo_content_type
      %td= user.photo_file_size
      %td= user.photo_updated_at
      %td= user.last_name
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
