= form_for @delayed_job do |f|
  - if @delayed_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@delayed_job.errors.count, "error")} prohibited this delayed_job from being saved:"
      %ul
        - @delayed_job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :priority
    = f.number_field :priority
  .field
    = f.label :attempts
    = f.number_field :attempts
  .field
    = f.label :handler
    = f.text_area :handler
  .field
    = f.label :last_error
    = f.text_area :last_error
  .field
    = f.label :run_at
    = f.datetime_select :run_at
  .field
    = f.label :locked_at
    = f.datetime_select :locked_at
  .field
    = f.label :failed_at
    = f.datetime_select :failed_at
  .field
    = f.label :locked_by
    = f.text_field :locked_by
  .field
    = f.label :created_at
    = f.datetime_select :created_at
  .field
    = f.label :updated_at
    = f.datetime_select :updated_at
  .field
    = f.label :queue
    = f.text_field :queue
  .actions
    = f.submit 'Save'
