= form_for @access_token do |f|
  - if @access_token.errors.any?
    #error_explanation
      %h2= "#{pluralize(@access_token.errors.count, "error")} prohibited this access_token from being saved:"
      %ul
        - @access_token.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :created_at
    = f.datetime_select :created_at
  .field
    = f.label :updated_at
    = f.datetime_select :updated_at
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
