%p#notice= notice

%p
  %b User:
  = @access_token.user_id
%p
  %b Email:
  = @access_token.email
%p
  %b Token:
  = @access_token.token
%p
  %b Created at:
  = @access_token.created_at
%p
  %b Updated at:
  = @access_token.updated_at
%p
  %b Type:
  = @access_token.type

= link_to 'Edit', edit_access_token_path(@access_token)
\|
= link_to 'Back', access_tokens_path
