%p#notice= notice

%p
  %b Name:
  = @segment.name
%p
  %b Study:
  = @segment.study_id
%p
  %b Created at:
  = @segment.created_at
%p
  %b Updated at:
  = @segment.updated_at

= link_to 'Edit', edit_segment_path(@segment)
\|
= link_to 'Back', segments_path
