= form_for @demo_question do |f|
  - if @demo_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@demo_question.errors.count, "error")} prohibited this demo_question from being saved:"
      %ul
        - @demo_question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :caption
    = f.text_field :caption
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :multiple
    = f.check_box :multiple
  .field
    = f.label :created_at
    = f.datetime_select :created_at
  .field
    = f.label :updated_at
    = f.datetime_select :updated_at
  .actions
    = f.submit 'Save'
