%h1 Listing taggings

%table
  %tr
    %th Tag
    %th Taggable
    %th Taggable type
    %th Tagger
    %th Tagger type
    %th Context
    %th Created at
    %th
    %th
    %th

  - @taggings.each do |tagging|
    %tr
      %td= tagging.tag_id
      %td= tagging.taggable_id
      %td= tagging.taggable_type
      %td= tagging.tagger_id
      %td= tagging.tagger_type
      %td= tagging.context
      %td= tagging.created_at
      %td= link_to 'Show', tagging
      %td= link_to 'Edit', edit_tagging_path(tagging)
      %td= link_to 'Destroy', tagging, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tagging', new_tagging_path
