%p#notice= notice

%p
  %b Study question:
  = @study_answer.study_question_id
%p
  %b Study application:
  = @study_answer.study_application_id
%p
  %b Created at:
  = @study_answer.created_at
%p
  %b Updated at:
  = @study_answer.updated_at
%p
  %b Latitude:
  = @study_answer.latitude
%p
  %b Longitude:
  = @study_answer.longitude

= link_to 'Edit', edit_study_answer_path(@study_answer)
\|
= link_to 'Back', study_answers_path
